SERVER_HOSTNAME=127.0.0.1
SERVER_PORT=3000

DATABASE_URL=mongodb://localhost:27017/mess-management-system
DATABASE_URL_LOCAL=mongodb://localhost:27017/mess-management-system

EMAIL_HOST=<<your-email-server-host-here>>
EMAIL_PORT=<<your-email-server-port-here>>
EMAIL_USERNAME=<<your-email-server-username-here>>
EMAIL_PASSWORD=<<your-email-server-password-here>>

JWT_SECRET=this-is-my-super-secret-key-for-issuing-jwt-tokens
JWT_EXPIRES_IN=90d